/*Asignment_1-Coding, customization, and publishing
	Antonio_Kourail_000829964, 25/02/2024
*/

html,body,#viewDiv { /*Style for the html, body, and div tag*/
        padding: 0; /*Sets the padding of the page to 0*/
        margin: 0; /*Sets the margin of the page to 0*/
        height: 100%; /*Height of the webpage is set to 100%*/
        width: 100%; /*Width of the webpage is set to 100%*/
      }